asgiref==3.11.0
dj-database-url==3.1.2
Django==6.0.1
django-storages[s3]==1.14.6
gunicorn==23.0.0
pillow==12.1.0
psycopg2-binary==2.9.11
pytesseract==0.3.13
python-barcode==0.16.1
python-decouple==3.8
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.11.0
google-cloud-vision==3.14.0
google-api-core==2.39.0
google-auth==2.58.1
googleapis-common-protos==1.75.4
grpcio==1.84.0
grpcio-status==1.84.0
proto-plus==1.28.4
protobuf==7.36.2
requests==2.34.2
typing-extensions==4.16.0
boto3==1.43.103
botocore==1.43.103
s3transfer==0.19.2
urllib3==2.8.0
